*.aux
*.log
*.out
*.gz
*/QQ/QQ?.pdf
*/QQ/QQ?.dvi
common/SlidesTex/*.dvi
common/SlidesTex/*.pdf
common/SlidesTex/output
2016/Exams/Midsem-2016.dvi
2016/Exams/Midsem-2016.ps
2016/Exams/Midsem-2016.pdf
2012/Exams/Endsem-2012.pdf
2016/Exams/Endsem-2016.dvi
2016/Exams/Endsem-2016.pdf
2012/Exams/Endsem-2012.fdb_latexmk
2012/Exams/Endsem-2012.fls
2012/Exams/iiitdm-exam.fdb_latexmk
2012/Exams/iiitdm-exam.fls
2012/Exams/iiitdm-exam.pdf
2016/Exams/Endsem-2016.fdb_latexmk
2016/Exams/Endsem-2016.fls
2016/Exams/Endsem-2016.ps
2016/Exams/Midsem-2016.fdb_latexmk
2016/Exams/Midsem-2016.fls
2017/Exams/Midsem-2017.dvi
2017/Exams/Midsem-2017.fdb_latexmk
2017/Exams/Midsem-2017.fls
2017/Exams/Midsem-2017.pdf
2017/Exams/Midsem-2017.ps
2017/Exams/Endsem-2017.dvi
2017/Exams/Endsem-2017.fdb_latexmk
2017/Exams/Endsem-2017.fls
2017/Exams/Endsem-2017.pdf
2017/Exams/Endsem-2017.ps
